body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Скрываем модальное окно по умолчанию */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное положение, чтобы оставаться на месте при прокрутке */
  z-index: 1; /* Размещаем поверх всего */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включаем прокрутку, если контент слишком большой */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с прозрачностью */
}

/* Контент модального окна */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Центрируем по вертикали и горизонтали */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Можно изменить */
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Класс для отображения модального окна */
.modal.show {
  display: block;
}

